# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# SQLite
# -----------------------------
*.db
*.sqlite
*.sqlite3

# Keep empty folders
!.gitkeep

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
Thumbs.db
.DS_Store